/* Main StyleSheet | SCSS > Minified CSS > bundle.js */
@import "bootstrap";
@import "mixins";
@import "navbar";
@import "theme-toggle";
@import "centet-xy";
@import "button";

html {
  --bgl:  #F8F9FA;
  --txtl: #030617;
  --bgd:  #030617;
  --txtd: #F8F9FA;
  --tint: #0cc9e7;
  &[data-theme='dark'] {
    --bgl:  #030617;
    --txtl: #F8F9FA;
    --bgd:  #F8F9FA;
    --txtd: #030617;
  } &.transition, .transition *, .transition *::before, .transition*::after {
    transition: all 750ms !important;
    transition-delay: 0 !important;
  }
  body {
    background-color: var(--bgd);
    h1, h2, h3, h4, h5, h6, p, small { color: var(--txtd); }
    h1 { @include responsive_fontsize; }
  }
}
